@import 'tailwindcss';

.card {
    @apply flex flex-col justify-between bg-white dark:bg-gray-800 p-4 rounded-xl shadow-sm hover:shadow-lg transition;
}

.card-content {
    @apply flex items-center gap-4;
}

.profile-img {
    @apply w-12 h-12 rounded-full object-cover cursor-pointer;
}

.card-name h3 {
    @apply text-base font-semibold dark:text-white;
}

.card-name p {
    @apply text-sm text-gray-500 dark:text-gray-300;
}

.card-bio {
    @apply mt-2 text-sm text-gray-700 dark:text-gray-200 line-clamp-2;
}

.card-skills {
    @apply mt-2 flex flex-wrap gap-2;
}

.card-skills span {
    @apply text-xs bg-blue-100 dark:bg-blue-900 text-blue-700 dark:text-blue-200 px-2 py-1 rounded-full;
}

.btn {
    @apply flex items-center justify-center mt-3 gap-1 px-4 py-1 bg-blue-600 hover:bg-blue-700 text-white text-sm rounded cursor-pointer;
}

.connect-icon {
    @apply text-sm
}

.card-left {
    @apply flex items-start gap-4 items-center;
}

.card-icon {
    @apply flex flex-col items-center gap-2;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    font-size: 0.875rem;
    background-color: rgb(201, 210, 218);
    left: 50%;
    bottom: 100%;
    margin-left: -60px;
    margin-bottom: 5px;
    color: black;
    text-align: center;
    padding: 8px 12px;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease-in-out;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    right: 75%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(201, 210, 218) transparent transparent transparent;
}

.connect-btn {
    @apply cursor-pointer bg-[#8697C4] text-black px-4 py-1 rounded-md hover:bg-[#3D52A0] hover:text-white items-center;
}

