@import 'tailwindcss';

.signup {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(to left, #EDE8F5, #EDE8F5, #ADBBDA);
}

.left-side {
    @apply w-1/3 bg-gray-100 flex flex-col justify-start p-6;
}

.left-side h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.search-drop {
    @apply px-3 py-2 w-full absolute h-50 rounded-md shadow-lg bg-white overflow-x-auto;
}

.search {
    @apply hidden;
}

.school {
    @apply text-sm cursor-pointer hover:bg-[#ADBBDA];
}


.first-section {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

select,
textarea,
input {
    @apply w-full border border-gray-100 rounded px-2 py-1 text-sm shadow-xl;
}

label {
    @apply block mt-2 mb-1 font-medium;
}

.section-title {
    @apply text-xl font-bold mt-8 mb-2;
}

form {
    width: 66.666667%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem 4rem 1.25rem 4rem;
}

.content {
    @apply grid grid-cols-2 gap-4;
}

.interests-section {
    @apply flex gap-2 mb-2;
}

.interests-section p {
    color: #6B7280;
}

.tags {
    @apply flex flex-wrap gap-2 mb-2;
}

.tags span {
    @apply bg-[#8697C4] text-white px-3 py-1 rounded-full cursor-pointer hover:bg-[#3D52A0];
}

.add-custom {
    @apply border rounded px-2 py-1 text-sm shadow-xl;
}

.select-interest {
    @apply mt-2 flex flex-wrap gap-2;
}

.selected {
    @apply bg-[#3D52A0] text-white px-3 py-1 rounded-full cursor-pointer;
}

.selected button {
    @apply font-bold cursor-pointer hover:text-gray-700;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.avail {
    @apply px-3 py-1 rounded-full text-sm cursor-pointer;
}

.unpicked {
    @apply bg-[#8697C4] text-white px-3 py-1 rounded-full;
}

.picked {
    background-color: #ffffff;
}

.btn-submit {
    @apply font-medium bg-[#7091E6] px-6 py-3 rounded mt-8 hover:bg-[#3D52A0] hover:text-white hover:cursor-pointer;
}

.bottom-content {
    display: flex;
    flex-direction: column;
}

.bottom-content p {
    margin-top: 1rem;
}

.link {
    font-weight: 500;
    color: #3D52A0;
}