@import 'tailwindcss';

.pg-wrapper {
    @apply min-h-screen flex flex-col font-sans bg-white;
}

.top-section {
    @apply flex flex-col items-center text-center py-24 px-4 bg-gray-50;
}

.top-section h2 {
    @apply text-5xl font-bold mb-6 leading-tight max-w-3xl;
}

.top-section p {
    @apply max-w-xl text-gray-600 mb-8 text-lg;
}

.role-btn {
    display: flex;
    gap: 6rem;
}

.mentor {
    @apply bg-[#7091E6] cursor-pointer text-black px-8 py-3 rounded-md hover:bg-[#3D52A0] hover:text-white transition font-medium;
}

.mentee {
    @apply border border-gray-300 text-gray-700 px-8 py-3 rounded-md cursor-pointer hover:bg-[#3D52A0] hover:text-white transition font-medium;
}

.about {
    @apply py-20 px-4;
}

.about h3 {
    @apply text-3xl font-bold text-center mb-12;
}

.info-cards {
    @apply grid grid-cols-1 md:grid-cols-3 gap-20 max-w-6xl mx-auto;
}

.info-card {
    @apply border border-gray-200 rounded-lg p-8 text-center shadow hover:shadow-lg transition bg-white;
}

.info-card h4 {
    @apply text-xl font-bold text-center mb-3;
}

.info-card p {
    @apply max-w-xl text-gray-600 text-sm;
}